body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4bebe;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
main {
    max-width: 800px;
    margin: 100px 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
h1 {
    color: #000000;
}
label {
    display: block;
    margin-bottom: 10px;
}
select {
    width: 20%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
#breeds-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.breed-item {
    margin: 10px;
    text-align: center;
    background-color: #e89e9e;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
img {
    max-width: 100%;
    height: 150px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px; 
}
.breed-name {
    color: #555;
}

#confirm-button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    background-color: #e86893;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#confirm-button:hover {
    background-color: #e6467b;
}